@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Playfair+Display");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
