.air-quality-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  color: rgb(47, 47, 51);
  padding: 2rem;
  margin: 3rem;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(47, 47, 51, 0.3);
}

.green {
  background: #115b4c;
  color: whitesmoke;
}

.yellow {
  background: rgb(253, 215, 74);
}

.orange {
  background: rgb(254, 155, 86);
}

.red {
  background: rgb(254, 107, 106);
}

.purple {
  background: rgb(168, 122, 188);
}

.air-quality {
  display: flex;
  flex-direction: column;
}

.air-quality-left {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.air-quality-left h4 {
  font-weight: 400;
}

.air-quality-left h2 {
  font-weight: 500;
}

.air-quality-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.live {
  font-size: 1rem;
  margin-right: 0.2rem;
  font-weight: 300;
  color: whitesmoke;
}

.aqi {
  padding: 0.5rem;
  width: 12rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(47, 47, 51);
  margin-bottom: 1.5rem;
}

.aqi-green {
  background: #b6edc8;
}

.aqi-yellow {
  background: rgb(239, 190, 28);
}

.aqi-orange {
  background: rgb(242, 126, 47);
}

.aqi-red {
  background: rgb(232, 75, 81);
}

.aqi-purple {
  background: rgb(136, 93, 156);
}

.aqi span {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 3rem;
}

.air-quality-info {
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}

.iqair {
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 441px) {
  .air-quality {
    flex-direction: row;
  }

  .air-quality-left {
    text-align: left;
  }

  .air-quality-right {
    align-items: flex-end;
  }

  .aqi {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .air-quality-container {
    width: 67%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 25vh;
  }

  .air-quality {
    margin: 0 4rem;
  }

  .aqi {
    width: 15rem;
  }
}
