.btn {
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 2rem;
  border-radius: 7px;
  border: none;
  background: #115b4c;
  color: whitesmoke;
}

.btn:hover {
  background: #b6edc8;
  color: rgb(47, 47, 51);
  cursor: pointer;
}
