.btn {
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 2rem;
  border-radius: 7px;
  border: none;
  background: rgb(17, 91, 76);
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: rgb(182, 237, 200);
  color: rgb(47, 47, 51);
  cursor: pointer;
}
